@import '~antd/dist/antd.css';

/* ant design, TODO: should be customized using webpack */

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.ant-btn-primary {
  background-color: #56e0ae;
  border-color: #56e0ae;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #4bc197;
  border-color: #4bc197;
}

.edit-link {
  margin-right: 5px;
}

/* app */

* {
  box-sizing: border-box;
}

body {
  color: #252525;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

input {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

input::placeholder {
  color: lightgrey;
}

.container {
  margin: 0 auto;
  padding: 5px 20px;
}

.header {
  border-bottom: 3px solid #56e0ae;
  color: #59707b;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding: 0 20% 0 20%;
}

.add-form-container {
  height: 110px;
}
